@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">kitiemmuorten</h1>
    <h2 class="display-6">Pur a te </h2>
    <p>No Grazie</a>.</p>
</div>
